@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   background:#fff;
}
h2,h1 {
    font-weight: bold;
}
h2 {
    color: #094a8c !important;
}
.main-doc {
    height: 100vh;
    display: grid;
    width: 100%;
    place-items: center;
    margin: auto;
    text-align: center;
}
.main-doc .card-login.card {
    width: 435px;
    padding: 2rem 10px;
    height: 316px;
    -webkit-backdrop-filter: blur(10px);
    background: none;
    border: 0;
    box-shadow: 2px 3px 20px 0px #34323238;
    color: #fff;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #699c42;
}
.main-doc .logo {
    width: 143px;
    margin: 1rem 0;
    margin-left: 0rem;
}
.card-login.card h2 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 34px;
    margin-top: 0;
}
.card-login.card p {
    margin-bottom: 5px;
    color: #000;
}
.cilinic-btn {
    background: #155aa5;
    margin: 10px;
    padding: 11px 11px;
    color: #fff;
    border-radius: 1px;
    min-width: 124px;
}
a.cilinic-btn-link {
    color: #fff;
    font-size: 14px;
}
.btn-success {
    color: #fff;
    background-color: #64973c;
    border-color: #64973c;
    color: #fff !important;
}
.sticky  .navbar-sec ul li a {
    color: #fff;
    font-size: 15px;
}
/*testimonails******************/
div#testimonial-2 {
    background: url('../images/quote-bg.jpg');
    background-size: cover;
    text-align: center;
    margin: auto;
    width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
   overflow: hidden;
    position: relative;
    height: 500px;
}
.owl-box {
    max-width: 950px;
    margin: auto;
    height: 450px;
    display: flex;
    align-items: center;
}
.img-card {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: auto;
}
.owl-carousel .owl-item img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    object-position: top;
}
.icon img {
    height: 73px;
}
.card {
    text-align: center;
    padding: 2rem;
    min-height: 260px;
    border:0;
}
.card h2 {
    color: #212324;
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 600;
}
.center-heading {
    width: fit-content;
    margin: auto;
}
 h2{
position: relative;
}
section.tips {
    padding: 4rem 0;
    position: relative;
}
.element-dot-1 {
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
}
.element-dot-3 {
    position: absolute;
    top: -14px;
    z-index: -1;
    left: -14px;
    opacity: 0.4;
}
.element-dot-2 {
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 0;
}
.element-dot {
    position: absolute;
    left: 0;
    top: 22%;
    z-index: -1;
}
.bottom-dot {
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: -9%;
}
.type {
    background: linear-gradient(#c5da59 0 0) 0 0;
    background-size: calc(var(--n)*1ch) 100%;
    background-repeat: no-repeat;
    animation: t calc(var(--n)*.1s) linear infinite alternate;
    color: #050505;
    font-weight: 600;
    padding: 0px 8px;
}
.testimonial {
    font-size: 15px;
    text-align: center;
    color: #fff;
}
header.sticky {
    background-color: #ffffff;
    box-shadow: 2px 2px 6px 0 rgba(213, 195, 195, 0.2);
    z-index: 999999;
    padding: 10px 0;
}
@keyframes t{
  from {background-size:0 200%}
}
.clip {
  color:#0000;
  -webkit-background-clip:text;
  background-clip:text;
}
.step {
  animation-timing-function:steps(var(--n))
}

 .owl-carousel .owl-item {
     transition: all 0.3s ease-in-out
 }

.owl-carousel .owl-item .card {
    padding: 0px;
    background: none;
}
 .owl-carousel .owl-stage-outer {
     overflow-y: auto !important;
     padding-bottom: 40px
 }
.owl-carousel .owl-item .card .name {
    color: #ffffff;
    background-color: #e4d65b;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
    font-size: 12px;
    padding: 6px 13px;
    width: 150px;
    text-align: center;
    margin: auto;
}
 .owl-carousel .owl-item .card {
     opacity: 0.2;
     transform: scale3d(0.8, 0.8, 0.8);
     transition: all 0.3s ease-in-out
 }
.testimonials-list {
    margin-bottom: 2rem;
}
 .owl-carousel .owl-item.active.center .card {
     opacity: 1;
     transform: scale3d(1, 1, 1)
 }

 .owl-carousel .owl-dots {
     display: inline-block;
     width: 100%;
     text-align: center
 }

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: #f5f8e2 !important;
    border-radius: 2px !important;
    opacity: 0.6;
}

 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #fbfffb  !important;s
}
 @media(min-width: 480.6px) and (max-width: 575.5px) {
     .owl-carousel .owl-item .card .name {
         left: 24%
     }
 }

 @media(max-width: 360px) {
     .owl-carousel .owl-item .card .name {
         left: 30%
     }
 }
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style:none;
}
.ml-auto{
    margin-left: auto;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 0;
    transition: opacity 0.02s ease-in-out;
}

/************new**************/
div#our-goal .image-section img {
    height: 320px;
    margin: 0;
}
div#our-goal .image-section {
    position: absolute;
    top: 0;
    opacity: 0.3;
    right: 0;
}
.our-goal {
    position: relative;
    background: #fff;
}

.steps h1 {
    color: #000000;
    font-size: 27px;
    font-weight: 900;
}
h6.title {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #879c1c;
}
.image-section img {
    object-fit: contain;
    margin-top: 2rem;
    max-height:500px;
}

.main-ban-area {
    height: 755px;
}

h1.background-sec {
    font-size: 12rem;
    position: relative;
    color: #f6f6f66e;
    font-weight: 900;
    letter-spacing: 10px;
}
.heading-title h2 {
    position: absolute;
    top: 40%;
    left: 38%;
    font-size: 38px;
}
/************new**************/
.subscription-section img.playstore-img {
    position: absolute;
    bottom: 0;
    z-index: 0;
    opacity: 0.1;
}
.subscription-section {
    background: #fff;
    position: relative;
    padding: 6rem 0;
}
.heading-title.text-center {
    position: relative;
}
.navigation-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation-section.active{
    padding: 10px 0;
}
.navigation-section .logo{
    width: 95px;
}
.navigation-section .logo img{
    width: 100%;

}
.navbar-sec ul{
    display: flex;
}
.navbar-sec ul li{
   padding-left: 52px;
}
.navbar-sec ul li a {
    color: #fff;
    font-size: 15px;
}
.toggle-menu{
    cursor: pointer;
} 
.toggle-menu i{ 
    color:#fff;  
    font-size: 1.5rem;
    display: none;
}
#toggle-collapsed-menu{
    display: none;
}
/* .nav-item .nav-link{
    color: #fff !important;
    padding: 0 1rem !important;
    font-weight: 500;
} */
/* banner section css */
#banner-section {
    width: 100%;
    background-image: url(../images/ban-2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%); */
    overflow: hidden;
    position: relative;
    height: 735px;
}
.divider{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.left-content-box h2 {
    font-size: 46px;
    margin: 5px 0;
    font-weight: 600;
    line-height: 52px;
    color: #094a8c;

}
.left-content-box .connect{
    color: #ff9d01;
}
.left-content-box p {
    font-size: 16px !important;
    letter-spacing: -.5px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-content-box .google-img img{
    width: 152px;
    cursor: pointer;
}
 /* .left-content-box .google-img .playstore-img{
     margin-left: 20px;
 } */
/*.image-section{
    padding-top: 80px;
    padding-right: 35px;
    text-align: right;
    padding-bottom: 95px;
    margin-left: 3rem;
}
.image-section img{
    width: 100%;
}*/
/* banner section css end */
#main-section{
    width: 100%;
    overflow: hidden;
}
.align-items-center{
    display: flex;
    align-items: center !important;
}
/* scrolling up section end */
/* subscription-section css start */

.subscription-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0;
    right: 0;
    background-image: url(../images/sub-bg.png);
    background-position: right, bottom;
    background-repeat: no-repeat;
}

.subscription-section .subs-right-section h2{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -.5px;
     color: #000;
}

.subscription-section .subs-right-section p {
    font-size: 20px;
    color: #000000;
    margin-top: 0px;
    line-height: 33px;
    font-weight: 400;
    letter-spacing: -0.3px;
}
.subs-left-section{
    padding: 50px 40px 85px 0;
}
.subs-left-section img{
    width: 100%;
}
.subscription-section .subs-right-section .number-box{
    margin-top: 30px;
}
.subscription-section .subs-right-section .number-box .service-percent{
    display: flex;
}
.subscription-section .subs-right-section .number-box .service-percent li{
    width: 140px;
    height: 115px;
    background-color: #ff9d01;
    border-radius: 20px;
    text-align: center;
    line-height: 2.7;
    z-index: 9;
}
.subscription-section .subs-right-section .number-box .service-percent .ml{
    margin-left: 44px;
}
.subscription-section .subs-right-section .number-box .service-percent li span{
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}
.subscription-section .subs-right-section .para-2{
    margin-top: 28px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}
.subscription-section .subs-right-section .sevice-content{
    display: flex;
    margin-top: 10px;
}
.subscription-section .subs-right-section .sevice-content li{
    padding: 0 1rem;
    text-align: center;
}
.subscription-section .subs-right-section .sevice-content li span{
    color:#ff9d01;
    font-weight: 500;
    font-size: 18px;
}
.subscription-section .subs-right-section .sevice-content .ml{
    margin-left: 22px;
    text-align: center;
}
/* sub based section css */

.recoding-studio{
    width: 100%;
    background-color: #f3f3f3;
    padding: 100px 0;
    position: relative;
}
.recording-studio-box{
    padding: 0 100px ;
    text-align: center;
}
.recording-studio-box h2{
    font-size: 36px;

    font-weight: 600;
    letter-spacing: -.5px;
     color: #000;
     padding-bottom: 35px;
}
.recording-studio-box p{
    font-size: 25px;
    font-weight: 400;
    color: #5a5a5a;
    line-height: 39px;
}
.recoding-studio::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 363px;
    background-image: url(../images/subscription-sec-bg.png);
    background-repeat: no-repeat;
}
/* sub based section css end */
/* testimonail section start */

.testimonial-container{
    padding:0 55px;
}
.testimonial-left-sec h2{
    font-size: 38px;
    color: #ff9d01;
    font-weight: bold;
}
.testimonial-left-sec p{
    font-size: 40px;
    letter-spacing: 2;
    margin-bottom: 100px;
}

.testimonial-video-sec{
    align-items: center;
}
.testimonial-video-sec .testimonial-video{
    width: 100%;
    height: auto;
   
}
.testimonial-video{
    position: relative;
}
.test-video-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    border: none;
    background: transparent;
    
}
.test-video-btn span i{
    font-size: 3rem;
    color: #fff;
    
}
.testimonial-video-sec .testimonial-video .video{
    width: 100%;
    border-radius: 30px;
    height:400px;
}
.testimonial-sec{
    /* background-color: rgba(255,255,255, .8); */
    padding: 50px 50px 10px 50px;
}

.testimonial-heading{
    text-align:center;
    padding-top:48px;
}
.testimonial-heading h3{
    color:#ff9d01;
    font-size:26px;
    font-weight:600;
}
.testi-video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.testimonial-video-slider{
    width:100%;
    height: 420px;
}
/* owl slider test css */
.owl-nav button.owl-prev{
    width: 40px;
    height: 40px;
    position: relative;
    left: -104%;
    background-color: #000 !important;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: -2;
    bottom: 90px;
    
}
.owl-nav button.owl-prev span{
    font-size: 50px;
    color: #fff;
    line-height: .7;
}
.owl-nav button.owl-next{
    width: 40px;
    height: 40px;
    position: relative;
    left: -102%;
    background-color: #000 !important;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: -2;
    bottom: 90px;
    margin-left: 5px;
    
}
.owl-nav button.owl-next span{
    font-size: 50px;
    color: #fff;
    line-height: .7;
}
.owl-dots{
    display: none;
}

/* testimonial section end */
.online-book-left-sec h2{
    font-size: 38px;
    font-weight: 600;
     color: #000;
     letter-spacing: -.5px;
}

.online-book-left-sec p{
    font-size: 19px;
    color: #5a5a5a;
    margin-top: 10px;
    font-weight: 400;
}
.online-book-right-sec ul{
    display: flex;
    justify-content: flex-end;
}
.online-book-right-sec ul li{
    width: 190px ;
    height: 170px;
    margin: 0 10px;
    background: #fff;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
     box-shadow: 0px 1px 13px rgba(0,0,0,0.05);
}
.online-book-right-sec ul li h3{
    font-weight: 600;
    font-size: 50px;
    color: #ff9d01;
    margin-top: 40px;
}
.online-book-right-sec ul li span{
    font-size: 22px;
    font-weight: 600;
}
.online-book-section-2{
    padding: 6rem 0;
    background: #f3f3f3;
}
.record-music-section{
    padding: 4rem 0;
    background: #fff;
    position: relative;
    width: 100%;
}
.record-music-sec{
    text-align: center;
}
.record-music-sec h2{
    font-size: 38px;
    font-weight: 600;
   padding-top: 25px;
    color: #000;
    letter-spacing: -.5px;
}
.record-music-sec p{
    font-size: 18px;
    font-weight: 500;
    color: #5a5a5a;
    padding-top: 24px;
    padding-bottom: 50px;
    letter-spacing: -.5px;
}

.record-music-sec .video-img-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 55px;
}
/* our goal section css start here */
div#our-goal {
    padding: 5rem 0;
}
.our-goal .our-goal-img-box img{
    width: 100%;
}
.our-goal-left-sec h2{
    font-size: 38px;
    color: #000;
    font-weight: 600;
    padding-bottom: 10px;
}
.our-goal-img img {
    object-fit: contain;
    height: 100%;
}
.our-goal-left-sec p {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    line-height: 29px;
    font-weight: 400;
    letter-spacing: -.3px;
}
.our-goal::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 476px;
    background-image: url(../images/subscription_bg.png);
    background-repeat: no-repeat;
}
/* our goal section css end here */
.record-music-sec .video-img-section img{
    width: 60%;
}
.footer-section{
    background: #1f212e;
     padding: 30px 0;
}
.footer-section-copyright p{
    color:#fff;
    font-size: 16px;
    margin-bottom: 0;
}
.icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0rem;
}
.icons li {
    width: 40px;
    height: 40px;
    /* background-color: #64983c; */
    text-align: center;
    line-height: 2;
    margin-left: 8px;
    transition: all 0.2s ease-in-out;
    display: grid;
    place-items: center;
    /* margin: 0rem 1rem; */
    box-shadow: 2px 3px 6px 2px #e5f2f682;
    border-radius: 50%;
    margin-right: 1rem;
    /* background: linear-gradient(45deg, #5c9245, #155b96); */
    background: #588e4c;
}
.icons li:hover {
    opacity: 0.7;
}
.icons li:hover a{
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.icons li a{
    color:#1f212e;
}
.icons li a i {
    font-size: 17px;
    color: #ffffff;
}
.footer-video{
    position: relative;
    z-index: 22222;
    width:830px;
    max-width: 100%;

}
.video-btn{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     border: none;
     background: red;
     border-radius: 10px;
     z-index: -1;
}
.video-btn span{
    width: 80px;
    height: 50px;
    display: block;
    line-height: 3.4;
}
.video-btn span i{
    font-size: 22px;
    color:#fff;
}
.video-frame{
    width: 100%;
    height: 480px;
    object-fit: cover;
}
.footer-video::after{
    content: '';
    width: 130px;
    height: 130px;
    position: absolute;
    top: -30px;
    right: -30px ;
    border: 12px solid #ff9d01;
    z-index: -1;
}
.footer-video::before{
    content: '';
width: 200px;
height: 200px;
position: absolute;
bottom: -38px;
left: -48px;
border-radius: 50%;
background: #ff9d01;
z-index: -1;
}
.scrolling-box{
    padding: 0 70px;
}
.video-frame{
    border-radius: 40px;
}
.ytp-title-text,
.ytp-chrome-top {
    display: none !important;
}
p {
    font-size: 14px !important;
    line-height: 26px !important;
}

/* contact form css */
#contact-us .center-heading {
    margin: 2rem 0;
}
div#contact-us {
    padding-top: 5rem;
    padding-bottom: 0;
    position: relative;
}
#contact-us .element-dot-1 {
    bottom: -114px;
    top: auto;
    left: 62px !important;
    transform: rotate(270deg);
}
#contact-us .element-dot-1 img {
    height: 450px;
}
#contact-us .center-heading h2 {
    font-size: 55px;
}
#contact-us .element-dot-3 {
    top: -43px;
    left: -14px;
}
.contact-us {
    width: 100%;
    background: url('');
}
.form-sec {
    padding: 3rem;
    border-radius: 0px;
    border: 1px solid #fff6f6;
}
#contact-us .center-heading img {
    height: 155px;
}
.contact-us-head-sec{
    text-align: center;
    padding: 0 15px;
}
.contact-us-head-sec h2{
    font-size: 38px;
    font-weight: 600;
    color:#000;
}
.contact-us-head-sec p{
    font-size: 18px;
    color:#5a5a5a;
}
.contact-details,
.form-sec{
    margin-top: 30px;
}
.contact-details{
    padding-left: 30px;
}
.form-sec .form input[type="tel"], .form-sec .form input[type="email"], .form-sec .form input[type="text"] {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 20px 2px;
    border: none;
    border-radius: 9px;
    background-color: rgb(255 255 255 / 5%);
    border: 1px solid rgba(114, 2, 187, 0);
    font-size: 14px;
    color: #070707;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}
.form-sec textarea:focus,
.form-sec .form input[type="tel"]:focus,
.form-sec .form input[type="email"]:focus,
.form-sec .form input[type="text"]:focus{
    outline: none;
}
.form-sec textarea {
    width: 100%;
    height: 98px;
    border-radius: 9px;
    padding: 0px 0px;
    background-color: rgb(255 255 255 / 5%);
    border: 1px solid rgba(114, 2, 187, 0);
    font-size: 15px;
    color: #000000;
    border-bottom: 1px solid #eee;
}
.form-sec input[type="submit"] {
    font-size: 12px;
    /* padding: 15px 55px; */
    width: 178px;
    height: 50px;
    border-radius: -3px;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 4px 10px #0000003b;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
    margin-top: 0px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    background: linear-gradient(80deg, #64983c, #0c54a1);
    border-radius: 53px;
}
.form-sec input[type="submit"]:hover{
    box-shadow: 0px 6px 20px #0000003b;
    transform: translateY(-5px);
}
.contact-details ul{
    list-style: none;
}
.contact-details ul li{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.contact-details ul li .icon-section{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(255,255,255, .8);
    box-shadow: 0px 2px 0px 2px rgba(245, 171, 53, 0.1),  0px 2px 0px 2px rgba(245, 171, 53, 0.1);
    text-align: center;
    line-height: 6;
}
.contact-details ul li .icon-section span i{
    font-size: 30px;
    color:#ff9d01;
}
.contact-details-content h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
}
.social-details{
    padding-left: 20px;
}
.social-details h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.social-details p{
    font-size: 14px;
    color:#5a5a5a;
}
.ml-2{
    margin-left: 10px;
}
/* contact form css end */

/*
@media(min-width:768px) and (max-width:991px){
   
    .left-section h2{
        font-size: 26px;
        line-height: 38px;
    }
    .left-content-box p{
        margin-bottom: 1rem;
        font-size: 16px;
        line-height: 32px;
    }
    .left-content-box .google-img img{
        width: 100px;
    }
    .sub-based-section .sub-based-right-section{
        padding-top: 50px;
    }
    .footer-video{
    width: 650px;
    max-width: 100%;
}
.video-frame{
    width: 100%;
    height: 3750;
}
/*.footer-video::after{
    display: none;
    

}
.footer-video::before{
    display: none
    
}*/
/*.record-music-section::before{
    display: none;
}
.image-section{
    padding-top:90px;
    margin-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
}
 .icons li {
    width: 40px;
    height: 40px;
    line-height: 3.5;
}
.icons li a i {
    font-size: 26px;
}
.scrolling-box{
    padding: 0;
}
.subs-left-section{
    padding: 0;
}
.subscription-section{
    padding: 80px 0;
}
.video-frame{
    height: 100%;
}
.footer-video::before{
    width:160px;
    height: 160px;
}
.testimonial-container{
    padding: 0;
}
.testimonial-sec{
    padding: 50px 10px 10px 10px;
}
.testimonial-left-sec{
    padding: 0;
}
}*/

/*@media(max-width:420px){
    .image-section{
        padding-top: 50px;
        padding-bottom: 200px;
        margin-left: 0;
    }
    .subscription-section .subs-right-section .number-box .service-percent li{
        line-height: 2;
    }

    .image-section{
        padding-top:10px !important;
    }
    .sub-based-section .sub-based-right-section {
        padding-top: 50px;
    }
    .left-content-box h2{
        font-size: 2rem;
    }
    .left-content-box p{
        font-size: 1rem;
        margin-top: .8rem;
    }
    .subscription-section .subs-right-section .number-box ul .ml{
        margin-left: 1rem;
    }
    .subscription-section .subs-right-section .number-box ul li{
        padding: 1rem;
    }
    .subscription-section .subs-right-section .number-box ul li span{
        font-size: 2rem;
    }
    .online-book-service{
        flex-direction: column;
    }
    .online-book-left-sec{
        text-align: center;
    }
    .online-book-right-sec .online-book-service {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .online-book-right-sec .online-book-service li{

        margin-top: 20px;

        text-align: center;

    }

    .subs-left-section{

        width: 100%;

        text-align: center;

    }
    .icons li {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 3;
    }
    .record-music-sec .video-img-section{
        padding-bottom: 0;
    }
    .icons li{
            margin-left: 18px;
        }
        .left-content-box .google-img .playstore-img{
            margin-left: 4px;
            
        }
        .music-sec-box .content-section p{
            font-size: 16px;
        }
}*/
/*
@media(min-width:769px) and (max-width:1199px){

    .subs-left-section {

        width: 100%;

    }

    .subscription-section .subs-right-section .number-box ul li{

        padding: 1rem;

    }

    .subscription-section .subs-right-section .number-box ul li span{

        font-size: 1.5rem;

    }
    .testimonial-container{
        padding: 0;
    }


}*/

/*

@media(max-width:330px){

    .left-content-box .google-img .playstore-img{

        margin-left: 0;

        margin-top: 10px;

    }

    .left-content-box p{

        padding-bottom: 0;

    }

}*/
/*
@media(min-width:400px) and (max-width:768px){

    .image-section {

        padding-top: 80px;

        width: 100%;

        text-align: center;

        padding-bottom: 0;

        margin-left: 0;
    }
}

@media(max-width:768px){
    .image-section{
    
        padding-bottom: 25px;;
    }
    .left-content-box h2{
        font-size: 22px;
        line-height: 30px;
    }
    .left-content-box p{
        font-size: 16px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .subs-left-section{
        padding-right: 0;
    }
    .image-section{
        padding-right: 0;
    }
    .subscription-section{
        padding: 40px 0;
    }
    .recording-studio-box{
        padding: 0;
    }
    .testimonial-video-sec{
        margin-top: 50px;;
    }
    .testimonial-sec{
        padding: 30px 15px;
    }
    .recoding-studio{
        padding: 60px 0;
    }
    .online-book-section-2{
        padding: 5rem 0;
    }
    .contact-details, .form-sec{
        padding-top: 40px;
    }
    .contact-details{
        padding-left: 10px;
    }
    .record-music-sec h2{
        padding-top: 0;
    }
    .subscription-section .subs-right-section .number-box .service-percent li span{
        font-size: 38px;
    }
    .recording-studio-box h2{
        padding-bottom: 20px;
    }
    .recording-studio-box p{
        font-size: 22px;
        line-height: 36px;
    }
 
    .our-goal{
        padding: 80px 0;
    }
    .form-sec input[type="submit"]{
          padding: 15px 55px;
          width: auto;
          height: auto;
    }
}
@media(min-width:420px) and (max-width:769px){

    .subs-left-section{
        width: 100%;
        text-align: center;
    }
    .left-content-box h2 {
        font-size: 26px;
        line-height: 40px;
    }
    .subs-left-section img{
        width: 400px;
    }
    .subscription-section .subs-right-section .number-box ul{
        justify-content: space-around;
    }


.left-content-box p {
    font-size: 14px;
    line-height: 30px;
}
.left-content-box .google-img .playstore-img {
    margin-left: 0;
}

    /*.sub-based-section .sub-based-right-section img{

        width: 400px;

    }*/
/*    .subscription-section .subs-right-section .number-box .service-percent .ml {
    margin-left: 1rem;
    }

    .subscription-section .subs-right-section .number-box .service-percent li {
    padding: 1rem 1.2rem;
    }
    .online-book-right-sec ul li{
        padding: 1rem;
    }
}*/

/*@media(min-width:421px) and (max-width:500px){

    .subscription-section .subs-right-section .number-box ul .ml{
        margin-left: 2rem;
    }
}

@media(max-width:348px){
    .left-content-box .google-img .playstore-img{
        margin-left: 0;
    }
}
@media(max-width:450px){
    .subscription-section .subs-right-section .number-box .service-percent li {
        padding: 01rem 1rem;
        background-color: #fce0cb;
        border-radius: 10px;
    }
    .subscription-section .subs-right-section .number-box .service-percent .ml {
        margin-left: 18px;
    }
    .subscription-section .subs-right-section .number-box ul li span{
        font-size: 14px;
    }
    .subscription-section .subs-right-section .number-box .service-percent,
    .subscription-section .subs-right-section .sevice-content{
        justify-content: center
    }
    .subscription-section .subs-right-section  .sevice-content li{
       padding:10px  !important;
    }
    .subscription-section .subs-right-section  .sevice-content .ml{
        margin: 0;
    }
    .footer-video::before {
        width: 110px;
        height: 110px;
        bottom: -25px;
        left: -25px;
    }
    .footer-video::after {
        width: 80px;
        height: 80px;
        top: -20px;
        right: -20px;
        border: 8px solid #ff9d01;
    }
    .record-music-sec p{
        padding-bottom: 20px;
    }
    .video-btn span {
        width: 60px;
        height: 40px;
        display: block;
        line-height: 3;
    }
    .record-music-sec .video-img-section {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}*/
/*@media(max-width:400px){
    .image-section {
        width: 100%;   
        padding-right: 0;
}
.subs-left-section{
    padding: 0;
}
.sub-based-section .sub-based-right-section{
    padding-right: 0;
}
.left-content-box p {

    font-size: 16px;
    line-height: 26px;
}
.left-content-box p {

    font-size: 13px;
    margin-top: .5rem;
}
.left-content-box p{
    padding-bottom:0;
}
.icons li {
	width: 35px;
	height: 35px;
	line-height: 2.5;
}
.icons li a i {
	font-size: 20px;
}
.left-content-box .google-img img{
    width: 100px;
}
}*/

/*@media(min-width: 991px) and (max-width: 1400px){
  
    .left-content-box p{
        font-size: 22px;
        line-height: 40px;
        padding-bottom: 8px;
    }
    .left-content-box .google-img img{
        width:125px;
    }
}*/
/*@media(min-width:991px) and (max-width:1200px){
    .image-section{
        margin-left: 0;
        padding-right: 0;
    }
    .left-content-box h2{
        font-size: 31px;
        line-height: 40px;
    }
    .left-content-box p{
        font-size: 19px;
    }
   
    .scrolling-box{
        padding:0;
    }
    .subs-left-section{
        padding: 0;
    }
    .subscription-section {
    padding: 100px 0;
}
  .subscription-section .subs-right-section .number-box .service-percent li{
    line-height: 2;
  }
  .icons li {
    width: 45px;
    height: 45px;
    line-height: 3.5;
}
.icons li a i {
    font-size: 30px;
}

}
*/
/*@media(min-width:1200px) and (max-width:1400px){
   
}

@media(min-width:420px) and (max-width:766px){
    .image-section img {
        width: 80%;
    }
}
*/

/*********************20-may-20201**********************/


.w-1-div {
    
    text-align: center;
    width: 160px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
   
    }
.w-1-div .box-or {
    background-color: #ff9d01;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    max-width: 150px;
    width: 100%;
    }
.text-des {
    color: #ff9d01;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    }
.d-flex.w-100.justify-content-between.max-901 {
    max-width: 530px;
    margin-top: 30px;
    }
p.sho_n {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-shadow: 3px 2px black;
    font-variant: all-small-caps;
    }

    /*************responsive css start************/
@media only screen and (max-width: 1290px)  {
    .container{
    max-width: 1050px;
}
.left-content-box h2 {
    font-size: 40px;
    line-height: 69px;
}
#banner-section {
    height: 665px;
}
.left-content-box {
    max-width: 540px;
}
.left-content-box h2 {
    font-size: 40px;
    line-height: 55px;
}
.owl-carousel .owl-item .card .name {
    left: 23%;

}
}
@media only screen and (max-width: 1199px)  {
  #banner-section {
    height: 521px;
}
.main-ban-area {
    height: 544px;
}
.image-section img {
   

}
.left-content-box h2 {
    font-size: 29px;
    line-height: 44px;
}
.left-content-box p {
    font-size: 18px;

}
h1.background-sec {
    font-size: 10rem;
}
    }
/*@media only screen and (max-width: 900px)  {
.w-1-div {
    width: 110px;
    }  
.w-1-div .box-or {
    background-color: #ff9d01;
    font-size: 33px;
    font-weight: 600;
    color: #fff;
    height: 100px;
    } 
}*/
/*@media only screen and (max-width: 600px)  {
.w-1-div {
    width: 105px;
    }
.text-des {
    color: #ff9d01;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    }
.w-1-div .box-or {
    background-color: #ff9d01;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    height: 95px;
    }
    .navigation-section {
        padding: 0px 20px;
    }
}
*/
/*-------- media quiry ---------*/

@media(max-width:991px){
    .navbar-nav{
        background-color:#ff9d01;
        padding-bottom: 20px;
    }
    .nav-item{
        margin-top: 20px;
    }
    .navbar-light .navbar-toggler{
        color:#fff !important;
        border: none !important;
    }
    .navbar-light .navbar-toggler:focus{
        border: none !important;
    }
    .fa-bars{
        font-size: 2rem;
    }
   .container{
       max-width: 100% !important;
   }
   .navbar-sec ul li{
       padding: 14px;
   }
   .video-frame {
    border-radius: 20px;
}

}
@media(max-width:769px){
    .navigation-section .logo img {
        width: 100%;

    }
  
    .scrolling-up .box{
        margin-top: 50px;
    }
    .online-book-left-sec{
        text-align: center;
    }
    .footer-section-copyright p{
        text-align: center;
    }
    .icons li{
        margin:0 10px;
    }

    .testimonial-video-sec .testimonial-video .video{
        height:350px;
    }
    .navbar-sec{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 360px;
        background-color: rgb(34 67 113);
        padding-left: 1rem;
        transition: all 0.3s ease-in-out;
        display:none;
    }
    .testimonial-container{
        padding:0;
    }
    .testimonial-left-sec h2{
        font-size:32px;
    }
    .testimonial-left-sec{
        padding:0;
    }
    .testimonial-left-sec p{
        font-size:28px;
    }

    .left-content-box .google-img img{
    width:108px;
    margin-top: 0;
    }

    #navbar-sec.active{

        display: block;
    }
    .sub-based-section .sub-based-left-section h2{
        line-height: 38px;
    }

    .navbar-sec ul{
        flex-direction: column;
        margin-top: 20px;
    }
    #toggle-collapsed-menu{
        cursor: pointer;
        display: block;
    }
    #toggle-collapsed-menu i{
        margin-left: 20px;
        font-size: 1.5rem;
        color: #fff;
        border:1px solid #fff;
        padding:5px  10px;
        margin-top: 20px;
    }
    .toggle-menu i{
        display: block;
    }
    .sticky .toggle-menu i{
        color: #000;
    }
    .footer-video{
    max-width: 100%;
}
.record-music-sec{
    padding-left: 30px;
    padding-right: 30px;
}
.video-frame{
    width: 100%;
    height: 100%;
}
.footer-video::after{
    width: 100px;
    height: 100px;
    top: -25px;
    right: -22px;

}
.footer-video::before{
    width: 150px;
    height: 150px;
    bottom: -32px;
    left: -30px;
    
}
.record-music-section::before{
    display: none;
}
.scrolling-box{
    padding: 0;
}
.record-music-sec h2,
.online-book-left-sec h2,
.booking-section h2,
.sub-based-section .sub-based-left-section h2,
.subscription-section .subs-right-section h2,
.scrolling-up h2{
    font-size: 2rem;
}
.record-music-sec p{
    margin-top: 0;
}
.owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    position: relative;
    left:0;
    background-color: #000 !important;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: -2;
    /* bottom: 50px; */
    text-align: center;
    bottom: 440px;
    
}
.owl-nav button.owl-next {
    width: 40px;
    height: 40px;
    position: relative;
    left:0;
    background-color: #000 !important;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: -2;
    /* bottom: 50px; */
    text-align: center;
    bottom: 440px;
    
}
.testimonial-left-sec p{
    margin-bottom: 30px;
}
.testimonial-video-slider{
    height: 370px;
}
#banner-section {
    height: 398px;
}
.main-ban-area {
    height: 450px;
}
.left-content-box p {
    font-size: 17px;
    line-height: 27px;
}
.image-section img {
   

}

}
@media(max-width:500px){

h1.background-sec {
    font-size: 4rem;
}
.heading-title h2 {
    position: absolute;
    top: 32%;
    left: 29%;
    font-size: 22px;
}
.subscription-section img.playstore-img {
    position: absolute;
    bottom: 93px;
    z-index: 0;
    opacity: 0.1;
    height: 137px;
    right: 13px;
}
div#our-goal {
    padding: 1rem 0;
}
div#our-goal .row {
    flex-direction: column-reverse;
}
.icons {
    margin-bottom: 1rem;
}
.icons li {
    margin-left: 0;
}
.our-goal-left-sec p , p {
    font-size: 14px;
    line-height: 23px;
 
}
.our-goal-left-sec {
    text-align: center;
    margin-top: 3rem;
}

#banner-section .align-items-center {
    display: flex;
    align-items: center !important;
    flex-direction: column-reverse;
    height: 100%;
    padding: 2rem;
}
.image-section img {


    object-fit: contain;
    margin-top: 4rem;
    text-align: center;
}
.left-content-box h2 {
    font-size: 25px;
    line-height: 35px;
    margin-top: 1rem;
}
.left-content-box p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 3px;
}
.image-section {
    text-align: center;
}
#banner-section {
    height: 100%;
    /* background-position: right; */
    background-position-x: 52%;
    background-position-y: -80px;
}
#banner-section .type {
    background:none;

}
.subscription-section {
    padding: 2rem 0;
}
h1.background-sec {
    font-size: 3.5rem;
}
}


/*********************end*******************************/